Weather.Client/Connected Services/WeatherWcfReference/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49648/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWeatherService" />
  <xs:element name="GetCitiesForTomowow">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitiesForTomowowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWeatherService" minOccurs="0" name="GetCitiesForTomowowResult" nillable="true" type="q1:TomorrowCitiesRespinse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeather">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWeatherService" minOccurs="0" name="request" nillable="true" type="q2:GetWeaterRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeatherResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWeatherService" minOccurs="0" name="GetWeatherResult" nillable="true" type="q3:GetWeaterResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>